.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rnx-chat-room {
  float: left;
}

.rnx-login-modal {
  min-height: 600px;
  width: 800px;
}

.rnx-avatar {
  margin: 1.2rem;
}

.input-room {
  font-weight: 600;
  margin: 1rem auto;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.rnx-card {
  min-height: 400px;
  width: 800px;
}
